.sectionone {
  .sectionone__nav {
    border-bottom: 1px solid black;

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      list-style: none;

      li {
        height: 40px;
        color: black;
        font-size: 20px;
        font-weight: 500;
        font-family: "Roboto";
        cursor: pointer;
      }

      li:hover {
        color: #a73afd;
      }
    }
  }

  .sectionone__data {
    margin: 20px 0 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .data__location {
      display: flex;
      align-items: center;
      gap: 3px;
      cursor: pointer;

      h1 {
        color: rgb(36, 36, 108);
        font-size: 20px;
        font-weight: 600;
        font-family: "inter";
        text-decoration-line: underline;
      }
    }
  }
}
